<!-- views/testView.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/styles.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

	<title>Bus departures</title>
</head>

<body id="home">
	<h1>Bus departures from <%= postcode.toUpperCase() %></h1>

	<h3>Your nearest stops are: </h3>

	<table>
		<tr>
			<th colspan="4">
				<%= stops.stopNames[0] %>
			</th>
		</tr>
		<tr>
			<th>Line</th>
			<th>Scheduled</th>
			<th>Expected</th>
			<th>Direction</th>
		</tr>
		<% if (stops.numBuses[0] > 0) { 
			for (let i = 0; i < stops.numBuses[0]; i++) { %>
				<tr>
					<td><%= data[i].line %></td>
					<td><%= data[i].aimed_departure_time %></td>
					<td><%= data[i].expected_departure_time %></td>
					<td><%= data[i].direction %></td>
				</tr>
			<% } 
		} else { %>
				<tr>
					<td colspan="4">
						There are no data available for this stop.
					</td>
				</tr>
		<% } %>			
	</table>

	<table>
		<tr>
			<th colspan="4">
				<%= stops.stopNames[1] %>
			</th>
		</tr>
		<tr>
			<th>Line</th>
			<th>Scheduled</th>
			<th>Expected</th>
			<th>Direction</th>
		</tr>
		<% if (stops.numBuses[1] > 0) { 
			for (let i = stops.numBuses[0]; i < stops.numBuses[0]+stops.numBuses[1]; i++) { %>
				<tr>
					<td><%= data[i].line %></td>
					<td><%= data[i].aimed_departure_time %></td>
					<td><%= data[i].expected_departure_time %></td>
					<td><%= data[i].direction %></td>
				</tr>
			<% } 
		} else { %>
				<tr>
					<td colspan="4">
						There are no data available for this stop.
					</td>
				</tr>
		<% } %>			
	</table>

</body>
</html>



